.home {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.title {
		font-size: 30px;
		line-height: 32px;
		height: 52px;
		padding: 10px;
		margin: 0 auto;
	}
	.homeContainer {
		display: flex;
		flex-direction: column;
		.infoContainer:hover {
			margin-left: 15px;
			animation-duration: 2s;
			animation-name: move-left;
		}
		.infoContainer {
			.centerContent {
				display: flex;
				align-items: center;
			}
			cursor: pointer;
			justify-content: center;
			margin: 0px;
			border: 0.5px solid rgb(128, 128, 128);
			border-radius: 5px;
			padding: 25px;
			display: flex;
			flex-direction: row;
			.profile {
				height: 50px;
				widows: 50px;
				border-radius: 100px;
				object-fit: cover;
			}
			.nameEmail {
				padding-left: 20px;
				display: flex;
				flex-direction: column;
				.name {
					font-size: 25px;
					line-height: 27px;
					font-weight: 400;
				}
				.email {
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
	}
}
@keyframes move-left {
	from {
		margin-left: 0px;
	}
	to {
		background-color: yellow;
		margin-left: 10px;
	}
}
