header {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(14, 103, 97);
	color: white;
	.title {
		font-size: 30px;
		line-height: 35px;
	}
	ul {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			border-bottom: 2px solid whitesmoke;
			margin-right: 20px;
			* {
				font-size: 16px;
				line-height: 18px;
				margin: 0;
				padding: 0;
				text-decoration: none;
				border: none;
				color: white;
				background: none;
			}
		}
	}
}
